body {
    font-family: 'Abel', sans-serif;
    font-size: 10pt;
    color:#40403E;
    
}

#logo {
    width: 30%;
    height: auto;
    
}
footer{
    display: flex;
    justify-content: center;
    background-color: #9FB0BF;
    height: auto;
}

a:hover{
    transition: .4s;
    color: #9FB0BF;
}

#headercontainer{
    display: flex;
    justify-content: space-between;
    
}

#headercontainer .socialicons li {
    display: inline-block;   
}

i{
    font-size: 2em;
    padding: 10px;
    color: #40403E;
}

 a{
    color: #40403E;
    text-decoration: none;
    font-family: 'Abel', sans-serif;
    
   
    
}
