body {
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
}

#logo {
    width: 20%;
    height: auto;
    
}

#slideshowcontainer{
    height: 800px;
    position: relative;
}
.cycle-slideshow{
    position: absolute;
}
.cycle-slideshow img{
    width: 98.8vw;
    height: 75%;
}


.slideshow_text {
    position: absolute;
    width: 40%; 
    z-index: 9999999;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    font-size: 1.75em;
}

#about {
    position: relative;
    display: flex;
    justify-content: center;
}
.aboutitems img{
    width: 300px;
    height: auto;
    display: inline-block;
    margin: 5%;
}

.aboutitems {
    padding: 7%;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #9eaeb3;
    height: 30px;
}

