
#storelocator {
    display: flex;
    justify-content: space-between;
    
}


#clickmap, #address{
    display: inline-block;
}

#clickmap img{
    width: 645px;
    margin: 20% 10% 20% 10%;

}

#address{
    border-radius: 5px 0px 0px 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
    background-color: #40403Eee;
    color: #FFFCFF;
    
   
  
  
}

#address h1{
      padding-top: 28%;
      padding-bottom: 28%;
      margin-left: 20%;
      margin-right: 20%;
      text-align: center;
      margin-top: 27%;
      margin-bottom: 27%;
      border: 1px solid #FFFCFF;
<<<<<<< HEAD
      text-shadow: 1px 1px #222222;
=======
      text-shadow: 1px 1px black;
    margin-bottom: 27%;
>>>>>>> master
 
     
}

#address a{
    color: #FFFCFF;
}

#address a:hover{
    color: #9FB0BF;
}
