nav ul{
    float:right;
    background-color: #9eaeb3;
   
}

ul li{
    float:left;
    list-style: none;
    font-size: 1.5em;
    
}

a{
    color: #3f4354;
    text-decoration: none;
    padding: 10px 20px;
    
}

a:hover{
    transition: .4s;
    background-color: red;
    color: white;
}


    