#itemflex{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    height: 100%;
    flex-grow: 1;
}
 
#itemflex > div {
  width: 200px;
  margin: 10px;
}

.product {
    display: inline-block;
    flex: 1 0 15%;
    padding: 25px;
}

.sidebar{
    width: 25%;
    background-color: #40403Eee;
    text-shadow: 1px 1px #222222;
    color: #FFFCFF;
    margin-right: 18px;
    height: 100%;
    display: flex;
    border-radius: 5px 5px 5px 5px;
}

.sidebar li{
    display: block;
    padding: 10%;

    
}