#itemflex{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    height: 100%;
    
}
 
#itemflex > div {
  width: 200px;
  margin: 10px;
}

#productbox{
    min-width:  75%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    margin-left: 25%;
   
}
.product {
    display: inline-block;
    flex: 1 0 15%;
    padding: 25px;
}

.sidebar{
    width: 25%;
    background-color: #40403E;
    text-shadow: 1px 1px #222222;
    margin-right: 18px;
    display: flex;
    border-radius: 5px 5px 5px 5px;
    height: 100%;
    

}

.sidebar li{
    display: block;
    padding: 30%;
}

.sidebar li a {
    color: #FFFCFF;
}
